<h1>Endereço <small>deixe sempre seu endereço atualizado</small></h1>
<hr>
<form class="form-horizontal">
  <div class="control-group">
      <label class="control-label" for="address">Endereço</label>
      <div class="controls">
          <input type="text" name="address" value="" class="input-large" id="address" placeholder="endereço">
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="control-group">
      <label class="control-label" for="number">Número</label>
      <div class="controls">
          <input type="text" name="number" value="" class="input-large" id="number" placeholder="número">
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="control-group">
      <label class="control-label" for="apartament">Complemento</label>
      <div class="controls">
          <input type="text" name="apartament" value="" class="input-large" id="apartament" placeholder="complemento">
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="control-group">
      <label class="control-label" for="neighborhood">Bairro</label>
      <div class="controls">
          <input type="text" name="neighborhood" value="" class="input-large" id="neighborhood" placeholder="bairro">
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="control-group">
      <label class="control-label" for="city">Cidade</label>
      <div class="controls">
          <select name="city">
            <option value="0">-- Escolha uma cidade --</option>
            <option value="1">Belo Horizonte</option>
            <option value="2">Contagem</option>
            <option value="3">Sabará</option>
            <option value="4">Santa Luzia</option>
            <option value="5">Vespasiano</option>
            <option value="6">Betim</option>
          </select>
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="control-group">
      <label class="control-label" for="zipcode">CEP</label>
      <div class="controls">
          <input type="text" name="zipcode" value="" class="input-large" id="zipcode" placeholder="cep">
      </div><!--/.controls -->
  </div><!--/.control-group -->
  <div class="form-actions">
      <button type="submit" class="btn btn-primary">Salvar alterações</button>
  </div>
</form>