<h1>Contato <small>defina aqui seus contatos</small></h1>
<hr>
<form class="form-horizontal">
	<div class="control-group">
	    <label class="control-label" for="name">Telefone</label>
	    <div class="controls">
	        <input type="text" name="phone" value="" class="input-large" id="phone" placeholder="telefone">
	    </div><!--/.controls -->
	</div><!--/.control-group -->
	<div class="control-group">
	    <label class="control-label" for="email">Email</label>
	    <div class="controls">
	        <input type="email" name="email" value="" class="input-large" id="email" placeholder="email">
	    </div><!--/.controls -->
	</div><!--/.control-group -->
	<div class="form-actions">
	    <button type="submit" class="btn btn-primary">Salvar alterações</button>
	</div>
</form>